<p id="notice"><%= notice %></p>

<p>
  <strong>Userid:</strong>
  <%= @pet.userId %>
</p>

<p>
  <strong>Name:</strong>
  <%= @pet.name %>
</p>

<p>
  <strong>Species:</strong>
  <%= @pet.species %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @pet.breed %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @pet.gender %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @pet.birthDate %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @pet.weight %>
</p>

<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>
