<%= form_for(@vet) do |f| %>
  <% if @vet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vet.errors.count, "error") %> prohibited this vet from being saved:</h2>

      <ul>
      <% @vet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :contact %><br>
    <%= f.text_field :contact %>
  </div>
  <div class="field">
    <%= f.label :userID %><br>
    <%= f.number_field :userID %>
  </div>
  <div class="field">
    <%= f.label :petID %><br>
    <%= f.number_field :petID %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
