<p id="notice"><%= notice %></p>

<p>
  <strong>Dateentered:</strong>
  <%= @event.dateEntered %>
</p>

<p>
  <strong>Petid:</strong>
  <%= @event.petID %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
